<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hq.acdm.dao.statistics.cdmToBtMapper" >
  <resultMap id="BaseResultMap" type="com.hq.acdm.model.statistics.cdmTobt.CdmTobt" >
    <result column="queryDate" property="queryDate" jdbcType="TIMESTAMP" />
    <result column="AIRLINE_CODE_IATA" property="airline_code_iata" jdbcType="VARCHAR" />
    <result column="AIRPORTTYPE" property="airport_type" jdbcType="VARCHAR" />
    <result column="AVGTime" property="averageTime" jdbcType="INTEGER" />
  </resultMap>
  <select id="queryCdmTobt" parameterType="map" resultType="com.hq.acdm.model.statistics.cdmTobt.CdmTobt"  >
      select to_char(operational_date, 'yyyy-MM-dd') operational_date,airline_code_iata,sum(executecount) executecount,sum(overflight) overflight,sum(startflight) startflight,sum(normalstartflgiht) normalstartflgiht,sum(normaloverflight) normaloverflight,sum(tobt_ardt) tobt_ardt,ceil((sum(tobt_ardt)/(sum(executecount))))*100||'%' tobtRate,sum(cobt_ardt) cobt_ardt,sum(a_tobt_ardt) a_tobt_ardt,sum(cobt_aobt) cobt_aobt,ceil((sum(a_tobt_ardt)/(sum(executecount)))*100)||'%' a_tobtRate,ceil((sum(cobt_aobt)/(sum(executecount)))*100)||'%' cobt,ceil((sum(cobt_ardt)/(sum(executecount)))*100)||'%' cobtRate,ceil(((sum(normalstartflgiht)+sum(normaloverflight))/(sum(executecount)))*100)||'%' executeRate from v_cdm_tobt t WHERE 1=1
      <if test="params.startDate != null and params.startDate != ''" >
       and operational_date&gt;=to_date(#{params.startDate},'yyyy-mm-dd hh24:mi:ss')
      </if>
      <if test="params.endDate != null and params.endDate != ''">
          and operational_date&lt;=to_date(#{params.endDate},'yyyy-mm-dd hh24:mi:ss')

      </if>

      <if test="params.airCompany !=null and params.airCompany != ''">
          and AIRLINE_CODE_IATA=#{params.airCompany}
      </if>
      group by  operational_date,airline_code_iata
      order by operational_date desc
  </select>
</mapper>