<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hq.acdm.dao.statistics.ReleaseNormalMapper" >
  <select id="queryReleaseNormal" resultType="com.hq.acdm.model.statistics.releaseNormal.ReleaseNormal"  >
     <![CDATA[
        SELECT
        (
        SELECT SUM(ZC)
        FROM (SELECT COUNT(*)  ZC
        FROM HISTORICAL_FLIGHT_MASTER AA
        LEFT JOIN HISTORICAL_FLIGHT_ADD_DETAILS BB ON
            AA.FLIGHT_NO_IATA = BB.FLIGHT_NO_IATA AND
            AA.OPERATIONAL_DATE = BB.OPERATIONAL_DATE AND
            AA.A_OR_D = BB.A_OR_D AND
            AA.FLIGHT_REPEAT_COUNT = BB.FLIGHT_REPEAT_COUNT
        LEFT JOIN (SELECT SIBT,FLIGHT_NO_IATA,OPERATIONAL_DATE,FLIGHT_REPEAT_COUNT,ALDT FROM HISTORICAL_FLIGHT_MASTER WHERE A_OR_D='A') CC ON
            (BB.LNK_CARRIER_CODE || BB.LNK_FLIGHT_NO || COALESCE(BB.LNK_FLIGHT_SUFFIX,'')) = CC.FLIGHT_NO_IATA AND
            BB.LNK_FLIGHT_REPEAT_COUNT = CC.FLIGHT_REPEAT_COUNT AND
            BB.LNK_SCHEDULE_DATE = CC.OPERATIONAL_DATE
        WHERE
          AA.A_OR_D ='D' AND
          NVL(BB.FLIGHT_CANCEL_CODE,' ') <> 'C' AND
          NVL(BB.CODE_SHARE_STATUS,' ') <> 'SF' AND
          BB.FLIGHT_CLASS_CODE IN ('L/W', 'W/Z', 'C/B') AND
          CC.OPERATIONAL_DATE=AA.OPERATIONAL_DATE AND
          BB.LNK_FLIGHT_NO IS NOT NULL AND AA.OPERATIONAL_DATE<=#{endDate}
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')>=#{startDate}
          AND CC.ALDT > (TO_CHAR(TO_DATE(AA.SOBT,'YYYYMMDD'),'YYYYMMDD')|| ' 06:00:00')
        union
        SELECT COUNT(*) ZC
        FROM DAILY_FLIGHT_MASTER AA
        LEFT JOIN DAILY_FLIGHT_ADD_DETAILS BB ON
            AA.FLIGHT_NO_IATA = BB.FLIGHT_NO_IATA AND
            AA.OPERATIONAL_DATE = BB.OPERATIONAL_DATE AND
            AA.A_OR_D = BB.A_OR_D AND
            AA.FLIGHT_REPEAT_COUNT = BB.FLIGHT_REPEAT_COUNT
        LEFT JOIN (SELECT SIBT,FLIGHT_NO_IATA,OPERATIONAL_DATE,FLIGHT_REPEAT_COUNT,ALDT FROM DAILY_FLIGHT_MASTER WHERE A_OR_D='A') CC ON
            (BB.LNK_CARRIER_CODE || BB.LNK_FLIGHT_NO || COALESCE(BB.LNK_FLIGHT_SUFFIX,'')) = CC.FLIGHT_NO_IATA AND
            BB.LNK_FLIGHT_REPEAT_COUNT = CC.FLIGHT_REPEAT_COUNT AND
            BB.LNK_SCHEDULE_DATE = CC.OPERATIONAL_DATE
        WHERE
          AA.A_OR_D ='D' AND
          NVL(BB.FLIGHT_CANCEL_CODE,' ') <> 'C' AND
          NVL(BB.CODE_SHARE_STATUS,' ') <> 'SF' AND
          BB.FLIGHT_CLASS_CODE IN ('L/W', 'W/Z', 'C/B') AND
          CC.OPERATIONAL_DATE=AA.OPERATIONAL_DATE AND
          BB.LNK_FLIGHT_NO IS NOT NULL AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')<=#{endDate}
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')>=#{startDate}
          AND CC.ALDT > (TO_CHAR(TO_DATE(AA.SOBT,'YYYYMMDD'),'YYYYMMDD')|| ' 06:00:00')
        ) )AS GZS
        ,
        (SELECT SUM(ATOTGZZC) ATOTGZZC FROM (SELECT COUNT(*) ATOTGZZC
        FROM HISTORICAL_FLIGHT_MASTER AA
        LEFT JOIN HISTORICAL_FLIGHT_ADD_DETAILS BB ON
            AA.FLIGHT_NO_IATA = BB.FLIGHT_NO_IATA AND
            AA.OPERATIONAL_DATE = BB.OPERATIONAL_DATE AND
            AA.A_OR_D = BB.A_OR_D AND
            AA.FLIGHT_REPEAT_COUNT = BB.FLIGHT_REPEAT_COUNT
        LEFT JOIN (SELECT SIBT,FLIGHT_NO_IATA,OPERATIONAL_DATE,FLIGHT_REPEAT_COUNT,ALDT FROM HISTORICAL_FLIGHT_MASTER WHERE A_OR_D='A') CC ON
            (BB.LNK_CARRIER_CODE || BB.LNK_FLIGHT_NO || COALESCE(BB.LNK_FLIGHT_SUFFIX,'')) = CC.FLIGHT_NO_IATA AND
            BB.LNK_FLIGHT_REPEAT_COUNT = CC.FLIGHT_REPEAT_COUNT AND
            BB.LNK_SCHEDULE_DATE = CC.OPERATIONAL_DATE
        WHERE
          AA.A_OR_D ='D' AND
          NVL(BB.FLIGHT_CANCEL_CODE,' ') <> 'C' AND
          NVL(BB.CODE_SHARE_STATUS,' ') <> 'SF' AND
          BB.FLIGHT_CLASS_CODE IN ('L/W', 'W/Z', 'C/B') AND
          CC.OPERATIONAL_DATE=AA.OPERATIONAL_DATE AND
          BB.LNK_FLIGHT_NO IS NOT NULL AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')<=#{endDate}
          AND CC.ALDT > (TO_CHAR(TO_DATE(AA.SOBT,'YYYYMMDD'),'YYYYMMDD')|| ' 06:00:00')
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')>=#{startDate}
          AND (CC.ALDT+10/(24*60)>CC.SIBT AND AA.ATOT-(AA.SOBT-CC.SIBT)<=CC.ALDT+40/(24*60)
          or (CC.ALDT+10/(24*60)<=CC.SIBT and AA.SOBT >= (AA.ATOT - 30/(24*60) )))
        UNION
        SELECT COUNT(*) ATOTGZZC
        FROM DAILY_FLIGHT_MASTER AA
        LEFT JOIN DAILY_FLIGHT_ADD_DETAILS BB ON
            AA.FLIGHT_NO_IATA = BB.FLIGHT_NO_IATA AND
            AA.OPERATIONAL_DATE = BB.OPERATIONAL_DATE AND
            AA.A_OR_D = BB.A_OR_D AND
            AA.FLIGHT_REPEAT_COUNT = BB.FLIGHT_REPEAT_COUNT
        LEFT JOIN (SELECT SIBT,FLIGHT_NO_IATA,OPERATIONAL_DATE,FLIGHT_REPEAT_COUNT,ALDT FROM DAILY_FLIGHT_MASTER WHERE A_OR_D='A') CC ON
            (BB.LNK_CARRIER_CODE || BB.LNK_FLIGHT_NO || COALESCE(BB.LNK_FLIGHT_SUFFIX,'')) = CC.FLIGHT_NO_IATA AND
            BB.LNK_FLIGHT_REPEAT_COUNT = CC.FLIGHT_REPEAT_COUNT AND
            BB.LNK_SCHEDULE_DATE = CC.OPERATIONAL_DATE
        WHERE
          AA.A_OR_D ='D' AND
          NVL(BB.FLIGHT_CANCEL_CODE,' ') <> 'C' AND
          NVL(BB.CODE_SHARE_STATUS,' ') <> 'SF' AND
          BB.FLIGHT_CLASS_CODE IN ('L/W', 'W/Z', 'C/B') AND
          CC.OPERATIONAL_DATE=AA.OPERATIONAL_DATE AND
          BB.LNK_FLIGHT_NO IS NOT NULL AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')<=#{endDate}
          AND CC.ALDT > (TO_CHAR(TO_DATE(AA.SOBT,'YYYYMMDD'),'YYYYMMDD')|| ' 06:00:00')
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')>=#{startDate}
          AND (CC.ALDT+10/(24*60)>CC.SIBT AND AA.ATOT-(AA.SOBT-CC.SIBT)<=CC.ALDT+40/(24*60)
          or (CC.ALDT+10/(24*60)<=CC.SIBT and AA.SOBT >= (AA.ATOT - 30/(24*60) )))

        )) AS ATOTGZZC,
        (SELECT SUM(CTOTGZZC) CTOTGZZC FROM (SELECT COUNT(*) CTOTGZZC
        FROM HISTORICAL_FLIGHT_MASTER AA
        LEFT JOIN HISTORICAL_FLIGHT_ADD_DETAILS BB ON
            AA.FLIGHT_NO_IATA = BB.FLIGHT_NO_IATA AND
            AA.OPERATIONAL_DATE = BB.OPERATIONAL_DATE AND
            AA.A_OR_D = BB.A_OR_D AND
            AA.FLIGHT_REPEAT_COUNT = BB.FLIGHT_REPEAT_COUNT
        LEFT JOIN (SELECT SIBT,FLIGHT_NO_IATA,OPERATIONAL_DATE,FLIGHT_REPEAT_COUNT,ALDT FROM HISTORICAL_FLIGHT_MASTER WHERE A_OR_D='A') CC ON
            (BB.LNK_CARRIER_CODE || BB.LNK_FLIGHT_NO || COALESCE(BB.LNK_FLIGHT_SUFFIX,'')) = CC.FLIGHT_NO_IATA AND
            BB.LNK_FLIGHT_REPEAT_COUNT = CC.FLIGHT_REPEAT_COUNT AND
            BB.LNK_SCHEDULE_DATE = CC.OPERATIONAL_DATE
        WHERE
          AA.A_OR_D ='D' AND
          NVL(BB.FLIGHT_CANCEL_CODE,' ') <> 'C' AND
          NVL(BB.CODE_SHARE_STATUS,' ') <> 'SF' AND
          BB.FLIGHT_CLASS_CODE IN ('L/W', 'W/Z', 'C/B') AND
          CC.OPERATIONAL_DATE=AA.OPERATIONAL_DATE AND
          BB.LNK_FLIGHT_NO IS NOT NULL AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')<=#{endDate}
          AND CC.ALDT > (TO_CHAR(TO_DATE(AA.SOBT,'YYYYMMDD'),'YYYYMMDD')|| ' 06:00:00')
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')>=#{startDate}
          AND (CC.ALDT+10/(24*60)>CC.SIBT AND BB.CTOT-(AA.SOBT-CC.SIBT)<=CC.ALDT+40/(24*60)
          or (CC.ALDT+10/(24*60)<=CC.SIBT and AA.SOBT >= (BB.CTOT - 30/(24*60) )))
        UNION
        SELECT COUNT(*) ATOTGZZC
        FROM DAILY_FLIGHT_MASTER AA
        LEFT JOIN DAILY_FLIGHT_ADD_DETAILS BB ON
            AA.FLIGHT_NO_IATA = BB.FLIGHT_NO_IATA AND
            AA.OPERATIONAL_DATE = BB.OPERATIONAL_DATE AND
            AA.A_OR_D = BB.A_OR_D AND
            AA.FLIGHT_REPEAT_COUNT = BB.FLIGHT_REPEAT_COUNT
        LEFT JOIN (SELECT SIBT,FLIGHT_NO_IATA,OPERATIONAL_DATE,FLIGHT_REPEAT_COUNT,ALDT FROM DAILY_FLIGHT_MASTER WHERE A_OR_D='A') CC ON
            (BB.LNK_CARRIER_CODE || BB.LNK_FLIGHT_NO || COALESCE(BB.LNK_FLIGHT_SUFFIX,'')) = CC.FLIGHT_NO_IATA AND
            BB.LNK_FLIGHT_REPEAT_COUNT = CC.FLIGHT_REPEAT_COUNT AND
            BB.LNK_SCHEDULE_DATE = CC.OPERATIONAL_DATE
        WHERE
          AA.A_OR_D ='D' AND
          NVL(BB.FLIGHT_CANCEL_CODE,' ') <> 'C' AND
          NVL(BB.CODE_SHARE_STATUS,' ') <> 'SF' AND
          BB.FLIGHT_CLASS_CODE IN ('L/W', 'W/Z', 'C/B') AND
          CC.OPERATIONAL_DATE=AA.OPERATIONAL_DATE AND
          BB.LNK_FLIGHT_NO IS NOT NULL AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')<=#{endDate}
          AND CC.ALDT > (TO_CHAR(TO_DATE(AA.SOBT,'YYYYMMDD'),'YYYYMMDD')|| ' 06:00:00')
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')>=#{startDate}
          AND (CC.ALDT+10/(24*60)>CC.SIBT AND BB.CTOT-(AA.SOBT-CC.SIBT)<=CC.ALDT+40/(24*60)
          or (CC.ALDT+10/(24*60)<=CC.SIBT and AA.SOBT >= (BB.CTOT - 30/(24*60) )))

        )) AS CTOTGZZC,
        (SELECT SUM(SFS) FROM (SELECT COUNT(*) SFS
        FROM HISTORICAL_FLIGHT_MASTER AA
        LEFT JOIN HISTORICAL_FLIGHT_ADD_DETAILS BB ON
            AA.FLIGHT_NO_IATA = BB.FLIGHT_NO_IATA AND
            AA.OPERATIONAL_DATE = BB.OPERATIONAL_DATE AND
            AA.A_OR_D = BB.A_OR_D AND
            AA.FLIGHT_REPEAT_COUNT = BB.FLIGHT_REPEAT_COUNT
        LEFT JOIN (SELECT SIBT,ALDT,FLIGHT_NO_IATA,OPERATIONAL_DATE,FLIGHT_REPEAT_COUNT FROM HISTORICAL_FLIGHT_MASTER) CC ON
            (BB.LNK_CARRIER_CODE || BB.LNK_FLIGHT_NO || COALESCE(BB.LNK_FLIGHT_SUFFIX,'')) = CC.FLIGHT_NO_IATA AND
            BB.LNK_FLIGHT_REPEAT_COUNT = CC.FLIGHT_REPEAT_COUNT AND
            BB.LNK_SCHEDULE_DATE = CC.OPERATIONAL_DATE
        WHERE
          AA.A_OR_D ='D' AND
          NVL(BB.FLIGHT_CANCEL_CODE,' ') <> 'C' AND
          NVL(BB.CODE_SHARE_STATUS,' ') <> 'SF' AND
          BB.FLIGHT_CLASS_CODE IN ('L/W', 'W/Z', 'C/B') AND
          (BB.LNK_FLIGHT_NO IS NULL
          OR LENGTH(BB.LNK_FLIGHT_NO) = 0
          OR TO_DATE(CC.SIBT,'YYYYMMDD') <> TO_DATE(AA.SOBT,'YYYYMMDD'))
          AND CC.ALDT < (TO_CHAR(TO_DATE(AA.SOBT,'YYYYMMDD'),'YYYYMMDD')|| ' 06:00:00')
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')<=#{endDate}
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')>=#{startDate}
        UNION
          SELECT COUNT(*) SFS
        FROM DAILY_FLIGHT_MASTER AA
        LEFT JOIN DAILY_FLIGHT_ADD_DETAILS BB ON
            AA.FLIGHT_NO_IATA = BB.FLIGHT_NO_IATA AND
            AA.OPERATIONAL_DATE = BB.OPERATIONAL_DATE AND
            AA.A_OR_D = BB.A_OR_D AND
            AA.FLIGHT_REPEAT_COUNT = BB.FLIGHT_REPEAT_COUNT
        LEFT JOIN (SELECT SIBT,ALDT,FLIGHT_NO_IATA,OPERATIONAL_DATE,FLIGHT_REPEAT_COUNT FROM DAILY_FLIGHT_MASTER) CC ON
            (BB.LNK_CARRIER_CODE || BB.LNK_FLIGHT_NO || COALESCE(BB.LNK_FLIGHT_SUFFIX,'')) = CC.FLIGHT_NO_IATA AND
            BB.LNK_FLIGHT_REPEAT_COUNT = CC.FLIGHT_REPEAT_COUNT AND
            BB.LNK_SCHEDULE_DATE = CC.OPERATIONAL_DATE
        WHERE
          AA.A_OR_D ='D' AND
          NVL(BB.FLIGHT_CANCEL_CODE,' ') <> 'C' AND
          NVL(BB.CODE_SHARE_STATUS,' ') <> 'SF' AND
          BB.FLIGHT_CLASS_CODE IN ('L/W', 'W/Z', 'C/B') AND
          (BB.LNK_FLIGHT_NO IS NULL
          OR LENGTH(BB.LNK_FLIGHT_NO) = 0
          OR TO_DATE(CC.SIBT,'YYYYMMDD') <> TO_DATE(AA.SOBT,'YYYYMMDD'))
          AND CC.ALDT < (TO_CHAR(TO_DATE(AA.SOBT,'YYYYMMDD'),'YYYYMMDD')|| ' 06:00:00')
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')<=#{endDate}
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')>=#{startDate}
          ) ) AS SFS,
        (SELECT SUM(CTOTSFZC) FROM( SELECT COUNT(*) CTOTSFZC
        FROM DAILY_FLIGHT_MASTER AA
        LEFT JOIN DAILY_FLIGHT_ADD_DETAILS BB ON
            AA.FLIGHT_NO_IATA = BB.FLIGHT_NO_IATA AND
            AA.OPERATIONAL_DATE = BB.OPERATIONAL_DATE AND
            AA.A_OR_D = BB.A_OR_D AND
            AA.FLIGHT_REPEAT_COUNT = BB.FLIGHT_REPEAT_COUNT
        LEFT JOIN (SELECT SIBT,ALDT,FLIGHT_NO_IATA,OPERATIONAL_DATE,FLIGHT_REPEAT_COUNT FROM DAILY_FLIGHT_MASTER) CC ON
            (BB.LNK_CARRIER_CODE || BB.LNK_FLIGHT_NO || COALESCE(BB.LNK_FLIGHT_SUFFIX,'')) = CC.FLIGHT_NO_IATA AND
            BB.LNK_FLIGHT_REPEAT_COUNT = CC.FLIGHT_REPEAT_COUNT AND
            BB.LNK_SCHEDULE_DATE = CC.OPERATIONAL_DATE
        WHERE
          AA.A_OR_D ='D' AND
          NVL(BB.FLIGHT_CANCEL_CODE,' ') <> 'C' AND
          NVL(BB.CODE_SHARE_STATUS,' ') <> 'SF' AND
          BB.FLIGHT_CLASS_CODE IN ('L/W', 'W/Z', 'C/B') AND
          (BB.LNK_FLIGHT_NO IS NULL
          OR LENGTH(BB.LNK_FLIGHT_NO) = 0
          OR TO_DATE(CC.SIBT,'YYYYMMDD') <> TO_DATE(AA.SOBT,'YYYYMMDD'))
          AND CC.ALDT < (TO_CHAR(TO_DATE(AA.SOBT,'YYYYMMDD'),'YYYYMMDD')|| ' 06:00:00')
          AND AA.SOBT >= BB.CTOT - 30/(24*60)
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')<=#{endDate}
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')>=#{startDate}
        UNION
        SELECT COUNT(*) CTOTSFZC
        FROM HISTORICAL_FLIGHT_MASTER AA
        LEFT JOIN HISTORICAL_FLIGHT_ADD_DETAILS BB ON
            AA.FLIGHT_NO_IATA = BB.FLIGHT_NO_IATA AND
            AA.OPERATIONAL_DATE = BB.OPERATIONAL_DATE AND
            AA.A_OR_D = BB.A_OR_D AND
            AA.FLIGHT_REPEAT_COUNT = BB.FLIGHT_REPEAT_COUNT
        LEFT JOIN (SELECT SIBT,ALDT,FLIGHT_NO_IATA,OPERATIONAL_DATE,FLIGHT_REPEAT_COUNT FROM HISTORICAL_FLIGHT_MASTER) CC ON
            (BB.LNK_CARRIER_CODE || BB.LNK_FLIGHT_NO || COALESCE(BB.LNK_FLIGHT_SUFFIX,'')) = CC.FLIGHT_NO_IATA AND
            BB.LNK_FLIGHT_REPEAT_COUNT = CC.FLIGHT_REPEAT_COUNT AND
            BB.LNK_SCHEDULE_DATE = CC.OPERATIONAL_DATE
        WHERE
          AA.A_OR_D ='D' AND
          NVL(BB.FLIGHT_CANCEL_CODE,' ') <> 'C' AND
          NVL(BB.CODE_SHARE_STATUS,' ') <> 'SF' AND
          BB.FLIGHT_CLASS_CODE IN ('L/W', 'W/Z', 'C/B') AND
          (BB.LNK_FLIGHT_NO IS NULL
          OR LENGTH(BB.LNK_FLIGHT_NO) = 0
          OR TO_DATE(CC.SIBT,'YYYYMMDD') <> TO_DATE(AA.SOBT,'YYYYMMDD'))
          AND CC.ALDT < (TO_CHAR(TO_DATE(AA.SOBT,'YYYYMMDD'),'YYYYMMDD')|| ' 06:00:00')
          AND AA.SOBT >= BB.CTOT - 30/(24*60)
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')<=#{endDate}
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')>=#{startDate}
        )) AS CTOTSFZC,
        (SELECT SUM(ATOTSFZC) FROM( SELECT COUNT(*) ATOTSFZC
        FROM DAILY_FLIGHT_MASTER AA
        LEFT JOIN DAILY_FLIGHT_ADD_DETAILS BB ON
            AA.FLIGHT_NO_IATA = BB.FLIGHT_NO_IATA AND
            AA.OPERATIONAL_DATE = BB.OPERATIONAL_DATE AND
            AA.A_OR_D = BB.A_OR_D AND
            AA.FLIGHT_REPEAT_COUNT = BB.FLIGHT_REPEAT_COUNT
        LEFT JOIN (SELECT SIBT,ALDT,FLIGHT_NO_IATA,OPERATIONAL_DATE,FLIGHT_REPEAT_COUNT FROM DAILY_FLIGHT_MASTER) CC ON
            (BB.LNK_CARRIER_CODE || BB.LNK_FLIGHT_NO || COALESCE(BB.LNK_FLIGHT_SUFFIX,'')) = CC.FLIGHT_NO_IATA AND
            BB.LNK_FLIGHT_REPEAT_COUNT = CC.FLIGHT_REPEAT_COUNT AND
            BB.LNK_SCHEDULE_DATE = CC.OPERATIONAL_DATE
        WHERE
          AA.A_OR_D ='D' AND
          NVL(BB.FLIGHT_CANCEL_CODE,' ') <> 'C' AND
          NVL(BB.CODE_SHARE_STATUS,' ') <> 'SF' AND
          BB.FLIGHT_CLASS_CODE IN ('L/W', 'W/Z', 'C/B') AND
          (BB.LNK_FLIGHT_NO IS NULL
          OR LENGTH(BB.LNK_FLIGHT_NO) = 0
          OR TO_DATE(CC.SIBT,'YYYYMMDD') <> TO_DATE(AA.SOBT,'YYYYMMDD'))
          AND CC.ALDT < (TO_CHAR(TO_DATE(AA.SOBT,'YYYYMMDD'),'YYYYMMDD')|| ' 06:00:00')
          AND AA.SOBT >= AA.ATOT - 30/(24*60)
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')<=#{endDate}
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')>=#{startDate}
        UNION
        SELECT COUNT(*) ATOTSFZC
        FROM HISTORICAL_FLIGHT_MASTER AA
        LEFT JOIN HISTORICAL_FLIGHT_ADD_DETAILS BB ON
            AA.FLIGHT_NO_IATA = BB.FLIGHT_NO_IATA AND
            AA.OPERATIONAL_DATE = BB.OPERATIONAL_DATE AND
            AA.A_OR_D = BB.A_OR_D AND
            AA.FLIGHT_REPEAT_COUNT = BB.FLIGHT_REPEAT_COUNT
        LEFT JOIN (SELECT SIBT,ALDT,FLIGHT_NO_IATA,OPERATIONAL_DATE,FLIGHT_REPEAT_COUNT FROM HISTORICAL_FLIGHT_MASTER) CC ON
            (BB.LNK_CARRIER_CODE || BB.LNK_FLIGHT_NO || COALESCE(BB.LNK_FLIGHT_SUFFIX,'')) = CC.FLIGHT_NO_IATA AND
            BB.LNK_FLIGHT_REPEAT_COUNT = CC.FLIGHT_REPEAT_COUNT AND
            BB.LNK_SCHEDULE_DATE = CC.OPERATIONAL_DATE
        WHERE
          AA.A_OR_D ='D' AND
          NVL(BB.FLIGHT_CANCEL_CODE,' ') <> 'C' AND
          NVL(BB.CODE_SHARE_STATUS,' ') <> 'SF' AND
          BB.FLIGHT_CLASS_CODE IN ('L/W', 'W/Z', 'C/B') AND
          (BB.LNK_FLIGHT_NO IS NULL
          OR LENGTH(BB.LNK_FLIGHT_NO) = 0
          OR TO_DATE(CC.SIBT,'YYYYMMDD') <> TO_DATE(AA.SOBT,'YYYYMMDD'))
          AND CC.ALDT < (TO_CHAR(TO_DATE(AA.SOBT,'YYYYMMDD'),'YYYYMMDD')|| ' 06:00:00')
          AND AA.SOBT >= AA.ATOT - 30/(24*60)
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')<=#{endDate}
          AND TO_CHAR(AA.OPERATIONAL_DATE,'YYYYMMDD')>=#{startDate}
        )) AS ATOTSFZC
        FROM DUAL
    ]]>
  </select>
</mapper>