<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hq.acdm.dao.realtimeSituation.TAirportMapper" >
  <resultMap id="BaseResultMap" type="com.hq.acdm.model.realtimeSituation.TAirport" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="AIRPORT_IATA" property="airportIata" jdbcType="VARCHAR" />
    <result column="AIRPORT_ICAO" property="airportIcao" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE" property="attribute" jdbcType="VARCHAR" />
    <result column="CHINESE_NAME" property="chineseName" jdbcType="VARCHAR" />
    <result column="ENGLISH_NAME" property="englishName" jdbcType="VARCHAR" />
    <result column="IS_OPEN" property="isOpen" jdbcType="VARCHAR" />
    <result column="SHORT_NAME" property="shortName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="IS_DELETE" property="isDelete" jdbcType="INTEGER" />
    <result column="IN_CITY" property="inCity" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, AIRPORT_IATA, AIRPORT_ICAO, ATTRIBUTE, CHINESE_NAME, ENGLISH_NAME, IS_OPEN, SHORT_NAME, 
    CREATE_TIME, UPDATE_TIME, IS_DELETE, IN_CITY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hq.acdm.model.realtimeSituation.TAirportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_AIRPORT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_AIRPORT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_AIRPORT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hq.acdm.model.realtimeSituation.TAirportExample" >
    delete from T_AIRPORT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hq.acdm.model.realtimeSituation.TAirport" >
    insert into T_AIRPORT (ID, AIRPORT_IATA, AIRPORT_ICAO, 
      ATTRIBUTE, CHINESE_NAME, ENGLISH_NAME, 
      IS_OPEN, SHORT_NAME, CREATE_TIME, 
      UPDATE_TIME, IS_DELETE, IN_CITY
      )
    values (#{id,jdbcType=VARCHAR}, #{airportIata,jdbcType=VARCHAR}, #{airportIcao,jdbcType=VARCHAR}, 
      #{attribute,jdbcType=VARCHAR}, #{chineseName,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR}, 
      #{isOpen,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}, #{inCity,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hq.acdm.model.realtimeSituation.TAirport" >
    insert into T_AIRPORT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="airportIata != null" >
        AIRPORT_IATA,
      </if>
      <if test="airportIcao != null" >
        AIRPORT_ICAO,
      </if>
      <if test="attribute != null" >
        ATTRIBUTE,
      </if>
      <if test="chineseName != null" >
        CHINESE_NAME,
      </if>
      <if test="englishName != null" >
        ENGLISH_NAME,
      </if>
      <if test="isOpen != null" >
        IS_OPEN,
      </if>
      <if test="shortName != null" >
        SHORT_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="isDelete != null" >
        IS_DELETE,
      </if>
      <if test="inCity != null" >
        IN_CITY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="airportIata != null" >
        #{airportIata,jdbcType=VARCHAR},
      </if>
      <if test="airportIcao != null" >
        #{airportIcao,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null" >
        #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null" >
        #{isOpen,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="inCity != null" >
        #{inCity,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hq.acdm.model.realtimeSituation.TAirportExample" resultType="java.lang.Integer" >
    select count(*) from T_AIRPORT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_AIRPORT
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.airportIata != null" >
        AIRPORT_IATA = #{record.airportIata,jdbcType=VARCHAR},
      </if>
      <if test="record.airportIcao != null" >
        AIRPORT_ICAO = #{record.airportIcao,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute != null" >
        ATTRIBUTE = #{record.attribute,jdbcType=VARCHAR},
      </if>
      <if test="record.chineseName != null" >
        CHINESE_NAME = #{record.chineseName,jdbcType=VARCHAR},
      </if>
      <if test="record.englishName != null" >
        ENGLISH_NAME = #{record.englishName,jdbcType=VARCHAR},
      </if>
      <if test="record.isOpen != null" >
        IS_OPEN = #{record.isOpen,jdbcType=VARCHAR},
      </if>
      <if test="record.shortName != null" >
        SHORT_NAME = #{record.shortName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.inCity != null" >
        IN_CITY = #{record.inCity,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_AIRPORT
    set ID = #{record.id,jdbcType=VARCHAR},
      AIRPORT_IATA = #{record.airportIata,jdbcType=VARCHAR},
      AIRPORT_ICAO = #{record.airportIcao,jdbcType=VARCHAR},
      ATTRIBUTE = #{record.attribute,jdbcType=VARCHAR},
      CHINESE_NAME = #{record.chineseName,jdbcType=VARCHAR},
      ENGLISH_NAME = #{record.englishName,jdbcType=VARCHAR},
      IS_OPEN = #{record.isOpen,jdbcType=VARCHAR},
      SHORT_NAME = #{record.shortName,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      IS_DELETE = #{record.isDelete,jdbcType=INTEGER},
      IN_CITY = #{record.inCity,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hq.acdm.model.realtimeSituation.TAirport" >
    update T_AIRPORT
    <set >
      <if test="airportIata != null" >
        AIRPORT_IATA = #{airportIata,jdbcType=VARCHAR},
      </if>
      <if test="airportIcao != null" >
        AIRPORT_ICAO = #{airportIcao,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        ATTRIBUTE = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null" >
        CHINESE_NAME = #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        ENGLISH_NAME = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null" >
        IS_OPEN = #{isOpen,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        IS_DELETE = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="inCity != null" >
        IN_CITY = #{inCity,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hq.acdm.model.realtimeSituation.TAirport" >
    update T_AIRPORT
    set AIRPORT_IATA = #{airportIata,jdbcType=VARCHAR},
      AIRPORT_ICAO = #{airportIcao,jdbcType=VARCHAR},
      ATTRIBUTE = #{attribute,jdbcType=VARCHAR},
      CHINESE_NAME = #{chineseName,jdbcType=VARCHAR},
      ENGLISH_NAME = #{englishName,jdbcType=VARCHAR},
      IS_OPEN = #{isOpen,jdbcType=VARCHAR},
      SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      IS_DELETE = #{isDelete,jdbcType=INTEGER},
      IN_CITY = #{inCity,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>