<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hq.acdm.dao.specialCase.DeicingMapper" >

  <select id="selectAll" resultType="com.hq.acdm.model.specialCase.deicing.deicingModel">
    SELECT
    COALESCE( COBT, EOBT, SOBT ) AS COBTTIME,
    t1.A_OR_D,
    t1.FLIGHT_REPEAT_COUNT,
    t1.OPERATIONAL_DATE,
    t1.FLIGHT_NO_IATA,
    t1.ACZT,
    t1.AEZT,
    CASE
    WHEN t2.isRequiredDeicing = 0 THEN
    '是'
    WHEN t2.isRequiredDeicing IS NULL THEN
    ' ' ELSE '否'
    END AS isRequiredDeicing,
    CASE
    WHEN t2.DeicingType = 0 THEN
    '定点除冰'
    WHEN t2.DeicingType IS NULL THEN
    ' ' ELSE '集中除冰'
    END AS DeicingType,
    t2.DecingStand,
    t1.AIRLINE_CODE_IATA,
    t4.TERMINAL
    FROM
    DAILY_FLIGHT_MASTER t1,
    DAILY_FLIGHT_ADD_DETAILS t2,
    AIRLINE t3,
    TERMINAL t4
    WHERE
    t1.A_OR_D = t2.A_OR_D
    AND t1.FLIGHT_REPEAT_COUNT = t2.FLIGHT_REPEAT_COUNT
    AND t1.OPERATIONAL_DATE = t2.OPERATIONAL_DATE
    AND t1.FLIGHT_NO_IATA = t2.FLIGHT_NO_IATA
    AND t1.AIRLINE_CODE_IATA = t3.IATA_CODE
    AND t4.TERMINAL = t2.AIRCRAFT_TERMINAL_CODE
    AND nvl(t2.CODE_SHARE_STATUS,' ') <![CDATA[ <> ]]> 'SF'
    AND nvl(t2.FLIGHT_CANCEL_CODE,' ') <![CDATA[ <> ]]> 'C'
    AND t2.FLIGHT_CLASS_CODE IN ( 'L/W', 'W/Z', 'C/B' )
    AND t1.a_or_d = 'D'
    ORDER BY
    t1.OPERATIONAL_DATE,
    t1.FLIGHT_NO_IATA

  </select>
  <select id="selectByPk" parameterType="map" resultType="com.hq.acdm.model.specialCase.deicing.deicingModel">
    SELECT
    COALESCE( COBT, EOBT, SOBT ) AS COBTTIME,
    t1.A_OR_D,
    t1.FLIGHT_REPEAT_COUNT,
    t1.OPERATIONAL_DATE,
    t1.FLIGHT_NO_IATA,
    t1.ACZT,
    t1.AEZT,
    t2.isRequiredDeicing,
    t2.DeicingType,
    t2.DecingStand,
    t1.AIRLINE_CODE_IATA,
    t4.TERMINAL
    FROM
    DAILY_FLIGHT_MASTER t1,
    DAILY_FLIGHT_ADD_DETAILS t2,
    AIRLINE t3,
    TERMINAL t4
    WHERE
    1=1
    AND t1.A_OR_D = t2.A_OR_D
    AND t1.FLIGHT_REPEAT_COUNT = t2.FLIGHT_REPEAT_COUNT
    AND t1.OPERATIONAL_DATE = t2.OPERATIONAL_DATE
    AND t1.FLIGHT_NO_IATA = t2.FLIGHT_NO_IATA
    AND t1.AIRLINE_CODE_IATA = t3.IATA_CODE
    AND t4.TERMINAL = t2.AIRCRAFT_TERMINAL_CODE
    <if test="params.start !='' and params.start != null">
    AND to_char(t1.OPERATIONAL_DATE,'yyyy-mm-dd') &gt;= #{params.start}
    </if>
    <if test="params.end !='' and params.end != null">
    AND to_char(t1.OPERATIONAL_DATE,'yyyy-mm-dd') &lt; #{params.end}
    </if>
    <if test="params.flightNum != null and params.flightNum != ''">
      AND t1.FLIGHT_NO_IATA = #{params.flightNum}
    </if>
    <if test="params.deicingStart !=null and params.deicingStart !=''">
      AND t1.ACZT = #{params.deicingStart}
    </if>
    <if test="params.deicingEnd !=null and params.deicingEnd !=''">
      AND t1.AEZT =#{params.deicingEnd}
    </if>
    <if test="params.deicingORnot != null and params.deicingORnot != ''">
    AND t2.isRequiredDeicing =#{params.deicingORnot}
    </if>
    <if test="params.deicingType != null and params.deicingType != ''">
    AND t2.DeicingType = #{params.deicingType}
    </if>
    <if test="params.deicingPart !=null and params.deicingPart != ''">
    AND t2.DecingStand = #{params.deicingPart}
    </if>
    <if test="params.airCompany !=null and params.airCompany !=''">
    AND t1.AIRLINE_CODE_IATA =#{params.airCompany}
    </if>
    <if test="params.terminal !=null and params.terminal !=''">
    AND t4.TERMINAL =#{params.terminal}
    </if>
    <if test="params.a_or_d !=null and params.a_or_d !=''">
    AND t1.A_OR_D =#{params.a_or_d}
    </if>
    <if test="params.flightRepeatCount != null and params.flightRepeatCount != ''">
    AND t1.FLIGHT_REPEAT_COUNT =#{params.flightRepeatCount}
    </if>
    <if test="params.operationalDate !=null and params.operationalDate !=''">
      AND t1.OPERATIONAL_DATE =#{params.operationalDate}
    </if>
    AND nvl(t2.CODE_SHARE_STATUS,' ') <![CDATA[ <> ]]> 'SF'
    AND nvl(t2.FLIGHT_CANCEL_CODE,' ') <![CDATA[ <> ]]> 'C'
    AND t2.FLIGHT_CLASS_CODE IN ( 'L/W', 'W/Z', 'C/B' )
    ORDER BY
    t1.OPERATIONAL_DATE,
    t1.FLIGHT_NO_IATA

  </select>
  <select id="queryStand" resultType="com.hq.acdm.model.specialCase.deicing.stand">
    select stand from stand
  </select>
  <update id="updateDAILY_FLIGHT_ADD_DETAILS" parameterType="map">
    UPDATE DAILY_FLIGHT_ADD_DETAILS
    SET isRequiredDeicing =#{params.deicingORnot},
        DeicingType =#{params.deicingType},
        DecingStand =#{params.deicingPart}
    WHERE
        1=1
        <if test="params.a_or_d !=null and params.a_or_d !=''">
	    AND A_OR_D =#{params.a_or_d}
        </if>
        <if test="params.FLIGHT_REPEAT_COUNT!=null and params.FLIGHT_REPEAT_COUNT!=''">
          AND FLIGHT_REPEAT_COUNT =#{params.FLIGHT_REPEAT_COUNT}
        </if>
	    <if test="params.operational_date != null and params.operational_date != ''">
          AND to_char(OPERATIONAL_DATE,'YYYY-MM-DD') =#{params.operational_date}
        </if>
	     <if test="params.flightNum !=null and params.flightNum !=''">
           AND FLIGHT_NO_IATA =#{params.flightNum}
         </if>

  </update>
  <update id="updateDAILY_FLIGHT_MASTER" parameterType="map">
          UPDATE DAILY_FLIGHT_MASTER
          SET ACZT =#{params.deicingStart},
          AEZT =#{params.deicingEnd}
          WHERE
          1=1
          <if test="params.a_or_d !=null and params.a_or_d !=''">
            AND A_OR_D =#{params.a_or_d}
          </if>
          <if test="params.FLIGHT_REPEAT_COUNT!=null and params.FLIGHT_REPEAT_COUNT!=''">
            AND FLIGHT_REPEAT_COUNT =#{params.FLIGHT_REPEAT_COUNT}
          </if>
          <if test="params.operational_date != null and params.operational_date != ''">
            AND to_char(OPERATIONAL_DATE,'YYYY-MM-DD') =#{params.operational_date}
          </if>
          <if test="params.flightNum !=null and params.flightNum !=''">
            AND FLIGHT_NO_IATA =#{params.flightNum}
          </if>
        </update>
</mapper>