<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hq.acdm.dao.coordinatedOprt.DelayPrejudgeMapper" >

  <resultMap id="FligthExecResultMap" type="com.hq.acdm.vo.coordinatedOprt.DelayPrejudgeHBZXQKVo" >
    <result column="PLAN_DAY" property="planDay" jdbcType="VARCHAR" />
    <result column="PLAN_CURR" property="planCurr" jdbcType="VARCHAR" />
    <result column="EXEC_OK" property="execOk" jdbcType="VARCHAR" />
    <result column="CANCEL" property="cancel" jdbcType="VARCHAR" />
    <result column="RTN_ALT" property="rtnAlt" jdbcType="VARCHAR" />
    <result column="DELAY_QF" property="delayQf" jdbcType="VARCHAR" />
    <result column="DELAY_NOT_QF" property="delayNotQf" jdbcType="VARCHAR" />
    <result column="DELAY_QF2H" property="delayQf2h" jdbcType="VARCHAR" />
    <result column="DELAY_NOT_QF2H" property="delayNotQf2h" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="AirRunEfficiencyResultMap" type="com.hq.acdm.vo.coordinatedOprt.DelayPrejudgeJCYXXLVo" >
    <result column="HBZX_Q2H" property="hbzxQ2h" jdbcType="VARCHAR" />
    <result column="HBJH_Q2H" property="hbjhQ2h" jdbcType="VARCHAR" />
    <result column="HBZX_Q1H" property="hbzxQ1h" jdbcType="VARCHAR" />
    <result column="HBJH_Q1H" property="hbjhQ1h" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ExeVarResultMap" type="com.hq.acdm.vo.coordinatedOprt.DelayPrejudgeExeVarVo" >
    <result column="TIME_H" property="timeH" jdbcType="VARCHAR" />
    <result column="RATE" property="rate" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findFligthExecInfo" resultMap="FligthExecResultMap" >
    -- 协同运行-航班执行情况
    <![CDATA[
    SELECT COUNT(1) AS PLAN_DAY,
    SUM(CASE WHEN (V.D_OR_A = 'D' AND V.SOBT < NOW()) OR (V.D_OR_A = 'A' AND V.SIBT < NOW()) THEN 1 ELSE 0 END) AS PLAN_CURR,
    SUM(CASE WHEN (V.D_OR_A = 'D' AND V.ATOT IS NOT NULL) OR (V.D_OR_A = 'A' AND V.ALDT IS NOT NULL) THEN 1 ELSE 0 END) AS EXEC_OK,
    SUM(CASE WHEN V.NORMAL_FLIGHT_STAT_CD = 'CAN' OR V.ABNORMAL_FLIGHT_STAT_CD = 'CAN' THEN 1 ELSE 0 END) AS CANCEL,
    SUM(CASE WHEN V.NORMAL_FLIGHT_STAT_CD = 'RTN' OR V.ABNORMAL_FLIGHT_STAT_CD = 'RTN' OR V.NORMAL_FLIGHT_STAT_CD = 'ALT' OR V.ABNORMAL_FLIGHT_STAT_CD = 'ALT' THEN 1 ELSE 0 END) AS RTN_ALT,
    SUM(CASE WHEN (V.D_OR_A = 'D' AND V.DELAY_TIME > 0 AND V.ATOT IS NOT NULL) THEN 1 ELSE 0 END) AS DELAY_QF,
    SUM(CASE WHEN (V.D_OR_A = 'D' AND V.DELAY_TIME > 0 AND V.ATOT IS NULL) THEN 1 ELSE 0 END) AS DELAY_NOT_QF,
    SUM(CASE WHEN (V.D_OR_A = 'D' AND V.DELAY_TIME > 120 AND V.ATOT IS NOT NULL) THEN 1 ELSE 0 END) AS DELAY_QF2H,
    SUM(CASE WHEN (V.D_OR_A = 'D' AND V.DELAY_TIME > 120 AND V.ATOT IS NULL) THEN 1 ELSE 0 END) AS DELAY_NOT_QF2H
    FROM V_UTIL_DAILY_FLIGHT V
    -- WHERE V.EXEC_DATE = DATE_FORMAT(NOW(),'%Y-%m-%d')
    ]]>
  </select>

  <select id="findFltResponse" resultType="com.hq.acdm.vo.coordinatedOprt.TEdResponse">
    -- 启动延误预警-响应表实时航班信息
    <![CDATA[
    SELECT SUM(CASE WHEN D_OR_A='A' THEN 1 ELSE 0 END) curdatePlana,
		SUM(CASE WHEN D_OR_A='D' THEN 1 ELSE 0 END) curdatePland,
		SUM(CASE WHEN D_OR_A='A' AND SIBT < NOW() THEN 1 ELSE 0 END) curtimePlana,
		SUM(CASE WHEN D_OR_A='D' AND SOBT < NOW() THEN 1 ELSE 0 END) curtimePland,
		SUM(CASE WHEN D_OR_A='A' AND ALDT IS NOT NULL THEN 1 ELSE 0 END) executedA,
		SUM(CASE WHEN D_OR_A='D' AND ATOT IS NOT NULL THEN 1 ELSE 0 END) executedD,
		SUM(CASE WHEN D_OR_A='A' AND ABNORMAL_FLIGHT_STAT_CD='CAN' THEN 1 ELSE 0 END) canceledA,
		SUM(CASE WHEN D_OR_A='D' AND ABNORMAL_FLIGHT_STAT_CD='CAN' THEN 1 ELSE 0 END) canceledD,
		SUM(CASE WHEN ABNORMAL_FLIGHT_STAT_CD IN ('ALT','RTN') THEN 1 ELSE 0 END) returnAlternate,
		SUM(CASE WHEN D_OR_A='A' AND SIBT BETWEEN DATE_SUB(NOW(),INTERVAL 60 MINUTE) AND NOW() THEN 1 ELSE 0 END) hourPlana,
		SUM(CASE WHEN D_OR_A='D' AND SOBT BETWEEN DATE_SUB(NOW(),INTERVAL 60 MINUTE) AND NOW() THEN 1 ELSE 0 END) hourPland,
		SUM(CASE WHEN D_OR_A='A' AND ALDT BETWEEN DATE_SUB(NOW(),INTERVAL 60 MINUTE) AND NOW() THEN 1 ELSE 0 END) hourActuala,
		SUM(CASE WHEN D_OR_A='D' AND ATOT BETWEEN DATE_SUB(NOW(),INTERVAL 60 MINUTE) AND NOW() THEN 1 ELSE 0 END) hourActuald,
		CONCAT(ROUND(SUM(CASE WHEN D_OR_A='D' AND DELAY_TIME>=60 AND DELAY_TIME<120 THEN 1 ELSE 0 END)/SUM(CASE WHEN D_OR_A='D' THEN 1 ELSE 0 END)*100,2),
		'%/',ROUND(SUM(CASE WHEN D_OR_A='D' AND DELAY_TIME>=120 AND DELAY_TIME<240 THEN 1 ELSE 0 END)/SUM(CASE WHEN D_OR_A='D' THEN 1 ELSE 0 END)*100,2)
		,'%/',ROUND(SUM(CASE WHEN D_OR_A='D' AND DELAY_TIME>=240 THEN 1 ELSE 0 END)/SUM(CASE WHEN D_OR_A='D' THEN 1 ELSE 0 END)*100,2),'%') delayRatio,
		CASE WHEN D_OR_A='D' AND DELAY_TIME>=240 THEN FLNO ELSE NULL END delayFlno,
		CONCAT(ROUND(SUM(CASE WHEN D_OR_A='D' AND TIMESTAMPDIFF(MINUTE,STDC,ATDC)>=30 AND TIMESTAMPDIFF(MINUTE,STDC,ATDC)<60 THEN 1 ELSE 0 END)/SUM(CASE WHEN D_OR_A='D' THEN 1 ELSE 0 END)*100,2),
		'%/',ROUND(SUM(CASE WHEN D_OR_A='D' AND TIMESTAMPDIFF(MINUTE,STDC,ATDC)>=60 AND TIMESTAMPDIFF(MINUTE,STDC,ATDC)<120 THEN 1 ELSE 0 END)/SUM(CASE WHEN D_OR_A='D' THEN 1 ELSE 0 END)*100,2)
		,'%/',ROUND(SUM(CASE WHEN D_OR_A='D' AND TIMESTAMPDIFF(MINUTE,STDC,ATDC)>=120 THEN 1 ELSE 0 END)/SUM(CASE WHEN D_OR_A='D' THEN 1 ELSE 0 END)*100,2),'%') dclsRatio,
		CASE WHEN D_OR_A='D' AND TIMESTAMPDIFF(MINUTE,STDC,ATDC)>=120 THEN FLNO ELSE NULL END dclsFlno
    FROM V_UTIL_DAILY_FLIGHT
    -- WHERE V.EXEC_DATE = DATE_FORMAT(NOW(),'%Y-%m-%d')
    ]]>
  </select>

  <select id="findAirRunEfficiency" resultMap="AirRunEfficiencyResultMap" >
    -- 协同运行-机场运行效率
    <![CDATA[
    SELECT
    SUM(CASE WHEN (V.D_OR_A = 'D' AND DATE_SUB(NOW(), INTERVAL 2 HOUR) < V.ATOT AND V.ATOT < DATE_SUB(NOW(), INTERVAL 1 HOUR))
    OR (V.D_OR_A = 'A' AND DATE_SUB(NOW(), INTERVAL 2 HOUR) < V.ALDT AND V.ALDT < DATE_SUB(NOW(), INTERVAL 1 HOUR)) THEN 1 ELSE 0 END) AS HBZX_Q2H,
    SUM(CASE WHEN (V.D_OR_A = 'D' AND DATE_SUB(NOW(), INTERVAL 2 HOUR) < V.SOBT AND V.SOBT < DATE_SUB(NOW(), INTERVAL 1 HOUR))
    OR (V.D_OR_A = 'A' AND DATE_SUB(NOW(), INTERVAL 2 HOUR) < V.SIBT AND V.SIBT < DATE_SUB(NOW(), INTERVAL 1 HOUR)) THEN 1 ELSE 0 END) AS HBJH_Q2H,
    SUM(CASE WHEN (V.D_OR_A = 'D' AND DATE_SUB(NOW(), INTERVAL 1 HOUR) < V.ATOT AND V.ATOT < NOW())
    OR (V.D_OR_A = 'A' AND DATE_SUB(NOW(), INTERVAL 1 HOUR) < V.ALDT AND V.ALDT < NOW()) THEN 1 ELSE 0 END) AS HBZX_Q1H,
    SUM(CASE WHEN (V.D_OR_A = 'D' AND DATE_SUB(NOW(), INTERVAL 1 HOUR) < V.SOBT AND V.SOBT < NOW())
    OR (V.D_OR_A = 'A' AND DATE_SUB(NOW(), INTERVAL 1 HOUR) < V.SIBT AND V.SIBT < NOW()) THEN 1 ELSE 0 END) AS HBJH_Q1H
    FROM V_UTIL_DAILY_FLIGHT V
    WHERE V.EXEC_DATE = DATE_FORMAT(NOW(),'%Y-%m-%d')
    ]]>
  </select>

  <select id="findExeRate" resultMap="ExeVarResultMap" >
    -- 出港航班执行率
    <![CDATA[
    SELECT TJ.TIME_H,IFNULL((CASE WHEN TJ.HBS > 0 THEN ROUND(TS.HBS/TJ.HBS*100,2) ELSE 0 END),0) AS RATE
    FROM (SELECT SUBSTRING(SOBT,-8,2) TIME_H,COUNT(1) HBS
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='D'
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
    GROUP BY TIME_H ) TJ
    LEFT JOIN
    (SELECT B.TIME_H,B.HBS FROM (SELECT SUBSTRING(ATOT,-8,2) TIME_H,COUNT(1) HBS
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='D' AND ATOT IS NOT NULL
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
    GROUP BY TIME_H ) B) TS
    ON TJ.TIME_H = TS.TIME_H
    WHERE TJ.TIME_H >= '08' AND TJ.TIME_H <= '23'
    GROUP BY TJ.TIME_H
    ]]>
  </select>

  <select id="findDelayNotTakingOff" resultMap="ExeVarResultMap" >
    -- 出港延误一小时以上未起飞航班数
    <![CDATA[
    SELECT SUBSTRING(SOBT,-8,2) TIME_H,COUNT(1) RATE
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='D' AND DELAY_TIME > 60 AND ATOT IS NULL
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
    GROUP BY TIME_H
    ]]>
  </select>

  <select id="findDelayNotTakingOffRate1H" resultMap="ExeVarResultMap" >
    -- 出港延误1小时以上未起飞的航班数占当日出港航班计划数的比率
    <![CDATA[
    SELECT COALESCE(ROUND(TY.HBS/TJ.HBS*100,2),0) AS RATE
    FROM (SELECT COUNT(1) HBS
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='D' AND ISDEL<>'1' AND ABNORMAL_FLIGHT_STAT_CD<>'CAN' AND DELAY_TIME > 60 AND ATOT IS NULL
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')) TY
    LEFT JOIN
    (SELECT COUNT(1) HBS
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='D' AND ISDEL<>'1' AND ABNORMAL_FLIGHT_STAT_CD<>'CAN'
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')) TJ
    ON 1=1;
    ]]>
  </select>

  <select id="findTakingOffH" resultType="String" >
    -- 机场航班起降小时数(相减得相差小时数)
    <![CDATA[
    SELECT DISTINCT T.TIME_H FROM (
    SELECT DATE_FORMAT(ATOT, '%Y-%m-%d %H:%i:%s') TIME_H
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='D' AND ATOT IS NOT NULL
    AND DATE_FORMAT(ATOT, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
    GROUP BY TIME_H ) T
    WHERE SUBSTRING(T.TIME_H,-8,2) >= '08' AND SUBSTRING(T.TIME_H,-8,2) <= '23'
    UNION
    SELECT DISTINCT T.TIME_H FROM (
    SELECT DATE_FORMAT(ALDT, '%Y-%m-%d %H:%i:%s') TIME_H
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='A' AND ALDT IS NOT NULL
    AND DATE_FORMAT(ALDT, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
    GROUP BY TIME_H ) T
    WHERE SUBSTRING(T.TIME_H,-8,2) >= '08' AND SUBSTRING(T.TIME_H,-8,2) <= '23'
    UNION
    SELECT DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s') AS TIME_H
    ORDER BY TIME_H ASC
    ]]>
  </select>


  <select id="findFuture1HFltDRate" resultType="String" >
    -- 未来1小时出港执行率
    <![CDATA[
    SELECT CASE WHEN TJ.HBS > 0 THEN ROUND(TS.HBS/TJ.HBS*100,2) ELSE 0 END AS RATE
    FROM (SELECT COUNT(1) HBS
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='D' AND ABNORMAL_FLIGHT_STAT_CD <> 'CAN' AND NORMAL_FLIGHT_STAT_CD <> 'CAN'
    AND SUBSTRING(SOBT,-8,2) = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL 1 HOUR),'%H')
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')) TJ
    LEFT JOIN
    (SELECT COUNT(1) HBS
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='D' AND ABNORMAL_FLIGHT_STAT_CD <> 'CAN' AND NORMAL_FLIGHT_STAT_CD <> 'CAN'
    AND ETOT IS NOT NULL AND SUBSTRING(ETOT,-8,2) = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL 1 HOUR),'%H')
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d') ) TS
    ON 1=1
    ]]>
  </select>

  <select id="findFuture1HFltARate" resultType="String" >
    -- 未来1小时进港执行率
    <![CDATA[
    SELECT CASE WHEN TJ.HBS > 0 THEN ROUND(TS.HBS/TJ.HBS*100,2) ELSE 0 END AS RATE
    FROM (SELECT COUNT(1) HBS
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='A' AND SUBSTRING(SIBT,-8,2) = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL 1 HOUR),'%H')
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')) TJ
    LEFT JOIN
    (SELECT COUNT(1) HBS
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='A' AND ELDT IS NOT NULL AND SUBSTRING(ELDT,-8,2) = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL 1 HOUR),'%H')
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d') ) TS
    ON 1=1
    ]]>
  </select>


  <select id="findFutureCurrHFltDRate" resultType="String" >
    -- 本小时出港执行率
    <![CDATA[
    SELECT CASE WHEN TJ.HBS > 0 THEN ROUND(TS.HBS/TJ.HBS*100,2) ELSE 0 END AS RATE
    FROM (SELECT COUNT(1) HBS
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='D' AND ABNORMAL_FLIGHT_STAT_CD <> 'CAN' AND NORMAL_FLIGHT_STAT_CD <> 'CAN'
    AND SUBSTRING(SOBT,-8,2) = DATE_FORMAT(NOW(),'%H')
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')) TJ
    LEFT JOIN
    (SELECT COUNT(1) HBS
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='D' AND ABNORMAL_FLIGHT_STAT_CD <> 'CAN' AND NORMAL_FLIGHT_STAT_CD <> 'CAN'
    AND ATOT IS NOT NULL AND SUBSTRING(ATOT,-8,2) = DATE_FORMAT(NOW(),'%H')
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d') ) TS
    ON 1=1
    ]]>
  </select>

  <select id="findFutureCurrHFltARate" resultType="String" >
    -- 本小时进港执行率
    <![CDATA[
    SELECT CASE WHEN TJ.HBS > 0 THEN ROUND(TS.HBS/TJ.HBS*100,2) ELSE 0 END AS RATE
    FROM (SELECT COUNT(1) HBS
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='A' AND SUBSTRING(SIBT,-8,2) = DATE_FORMAT(NOW(),'%H')
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')) TJ
    LEFT JOIN
    (SELECT COUNT(1) HBS
    FROM V_UTIL_DAILY_FLIGHT
    WHERE D_OR_A='A' AND ALDT IS NOT NULL AND SUBSTRING(ALDT,-8,2) = DATE_FORMAT(NOW(),'%H')
    AND DATE_FORMAT(EXEC_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d') ) TS
    ON 1=1
    ]]>
  </select>
  <select id="findFtDelays" resultType="com.hq.acdm.vo.coordinatedOprt.FutureDelayVo" >
    -- 未来2小时延误航班
    <![CDATA[
    SELECT TC.FLIGHTID,TC.FLNO,TC.ADES,TC.ETD SOBT,'RED' LEVEL,TA.CONTROL_CONTENT REASON FROM
    (SELECT * FROM T_CONTROL_INFO WHERE ISAVAILABLE=1 AND CONTROL_ALTERAT_ENDTM>NOW() AND PUBTIME>CURRENT_DATE AND CONTROL_CONTENT LIKE '%统一放行%') TA
    LEFT JOIN T_CONTROL_MAP TB ON TA.CONTROL_ID=TB.CONTROL_ID LEFT JOIN (SELECT * FROM T_ATC_FLIGHT_INFO WHERE ADEP='WUH' AND ETD<DATE_ADD(NOW(),INTERVAL 120 MINUTE)
    AND DELETEFLAG=FALSE AND ABSFLAG=FALSE AND ATD IS NULL) TC ON TB.FUID=TC.FUID WHERE TC.FLIGHTID IS NOT NULL UNION
    SELECT TC.FLIGHT_ID FLIGHTID,TC.FLNO,TC.ADES,TC.SOBT,TA.LEVEL,CONCAT(TA.AREA,'由于',TA.REASON,TA.EXPECTINFLUENCE) REASON FROM
    (SELECT * FROM T_MDRS WHERE ISDEL<>1 AND STATUSS=1 AND TIMESCOPE_END>NOW()) TA LEFT JOIN T_AIRPORT TB ON LEFT(TA.AREA,2)=LEFT(TB.CHINESE_NAME,2)
    LEFT JOIN (SELECT * FROM T_LOCAL_FLIGHT_INFO WHERE ISDEL<>'1' AND ABNORMAL_FLIGHT_STAT_CD<>'CAN' AND EXEC_DATE=CURRENT_DATE AND D_OR_A='D' AND ATOT IS NULL
    AND SOBT < DATE_ADD(NOW(),INTERVAL 120 MINUTE)) TC ON TB.AIRPORT_IATA=TC.ADES WHERE TC.FLIGHT_ID IS NOT NULL;
    ]]>
  </select>

  <select id="findFtDelaysX" resultType="com.hq.acdm.vo.coordinatedOprt.FutureDelayVo" >
    -- 未来2小时延误航班详细
    <![CDATA[
    SELECT TC.FLIGHT_ID AS FLIGHTID, TC.FLNO, TC.ADES, TC.SOBT,TC.FXLJ, 'RED' AS LEVEL
	, TA.CONTROL_CONTENT AS REASON
    FROM (
        SELECT *
        FROM T_CONTROL_INFO
        WHERE ISAVAILABLE = 1
            AND CONTROL_ALTERAT_ENDTM > NOW()
            AND PUBTIME > CURRENT_DATE
            AND CONTROL_CONTENT LIKE '%统一放行%'
    ) TA
        LEFT JOIN T_CONTROL_MAP TB ON TA.CONTROL_ID = TB.CONTROL_ID
        LEFT JOIN (
            SELECT D.FLIGHT_ID,D.FLNO,D.ADES,D.SOBT,F.FUID,
      CASE WHEN D.STDC IS NOT NULL THEN DATE_ADD(D.STDC, INTERVAL 25 MINUTE) ELSE NULL END AS FXLJ
            FROM T_ATC_FLIGHT_INFO F
        INNER JOIN T_LOCAL_FLIGHT_INFO D ON F.FLIGHTID=D.FLIGHT_ID
            WHERE F.ADEP = 'WUH'
                AND F.ETD < DATE_ADD(NOW(), INTERVAL 120 MINUTE)
                AND F.DELETEFLAG = false
                AND F.ABSFLAG = false
                AND F.ATD IS NULL
          AND D.D_OR_A='D' AND D.EXEC_DATE=CURDATE()
        ) TC
        ON TB.FUID = TC.FUID
    WHERE TC.FLIGHT_ID IS NOT NULL
    UNION
    SELECT TC.FLIGHT_ID AS FLIGHTID, TC.FLNO, TC.ADES, TC.SOBT,
    CASE WHEN TC.STDC IS NOT NULL THEN DATE_ADD(TC.STDC, INTERVAL 25 MINUTE) ELSE NULL END AS FXLJ,
    TA.LEVEL, CONCAT(TA.AREA, '由于', TA.REASON, TA.EXPECTINFLUENCE) AS REASON
    FROM (
        SELECT *
        FROM T_MDRS
        WHERE ISDEL <> 1
            AND STATUSS = 1
            AND TIMESCOPE_END > NOW()
    ) TA
        LEFT JOIN T_AIRPORT TB ON LEFT(TA.AREA, 2) = LEFT(TB.CHINESE_NAME, 2)
        LEFT JOIN (
            SELECT *
            FROM T_LOCAL_FLIGHT_INFO
            WHERE ISDEL <> '1'
                AND ABNORMAL_FLIGHT_STAT_CD <> 'CAN'
                AND EXEC_DATE = CURRENT_DATE
                AND D_OR_A = 'D'
                AND ATOT IS NULL
                AND SOBT < DATE_ADD(NOW(), INTERVAL 120 MINUTE)
        ) TC
        ON TB.AIRPORT_IATA = TC.ADES
    WHERE TC.FLIGHT_ID IS NOT NULL;
    ]]>
  </select>

</mapper>